svg {
  border: 2px solid gray;
  border-radius: 1%;
  
}

body {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  align-items: center;
}

label[for="points-amount-box"] {
  margin: 1% 1%;
  font-weight: bold;
}